.about{
    /* display: flex; */
    background-image: url("../assets/images/istockphoto-926814514-170667a.jpg");
    color: cornsilk;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.about p{
    margin: 10%;
}
.about h1{
    color: cornsilk;
}
.about button{
    background-color: white;
    height: 15%;
    border-radius: 15%;
    color: black;
    

}

.about-container{
    display: flex;
}